#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.chart-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    background-color: #DDDDDD;
    border-radius: 15px;
}

.y-axis-label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 27px;
    height: 215px;
    padding-right: 2px;
    border-right: 1px solid black;
    font-size: 13px;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 838px;
    height: 230px;
}

.bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.bar-per-date {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
}

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 8px;
    height: 215px;
}

.bar {
    width: 100%;
}

.chart-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 150px;
    margin-top: 15px;
    margin-left: 15px;
    gap: 5px;
}

.player-informations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.dot {
    border-radius: 4px;
    height: 8px;
    width: 8px;
}

.clicked-bar {
    border: 2px solid black;
}

.hide-div {
    visibility: hidden;
}

.player-1 {
    background-color: #2672b4;
}

.player-2 {
    background-color: #069214 ;
}

.player-3 {
    background-color: #5f540d;
}

.player-4 {
    background-color: #85144b;
}

.player-5 {
    background-color: #B10DC9;
}

.player-6 {
    background-color: #FF4136;
}

.player-7 {
    background-color: #FF851B;
}

.player-8 {
    background-color: #0e251b;
}

.player-9 {
    background-color: #39CCCC;
}

.player-10 {
    background-color: #3d3606;
}